.home{
    background-color: var(--main-color);
    overflow: hidden;
    .list-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        .list-title{
            color : white;
            font-size: 20px;
            margin-left :25px;
            margin-top :10px
        }
    }
}